body {
  background: rgb(222, 232, 237);
  padding: 0 50px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prata', serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

header #home {
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
}

header #name {
  font-family: 'Prata', cursive;
}

nav#main-nav {
  display: flex;
  justify-content: flex-end;
}

nav#main-nav ol {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

nav#main-nav li {
  display: block;
  padding: 0 1em;
}

div#main-container {
  margin: 0 100px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 200px;
}

section#intro {
  height: calc(100vh - 100px);
}

section div#intro-social ul {
  display: flex;
  font-size: 1.5em;
}

section div#intro-social i {
  margin-right: 15px;
}

section:not(#intro) h3:after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 300px;
  background-color: black;
  position: relative;
  top: -5px;
  margin-left: 20px;
}

section ul#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  list-style: square;
}

div.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

div.content * {
  margin-right: 20px;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 15px 0;
}

button {
  cursor: pointer;
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.75em 1em;
  font-size: 1em;
}

div#social-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50px;
  font-size: 1.5em;
}

div#social-container:after {
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background-color: black;
  margin: 0px auto;
}

div#social-container ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#social-container i {
  cursor: pointer;
  margin: 15px 0;
}

img {
  border-radius: 50%;
}

img#headshot {
  max-width: 300px;
}

div#employers {
  float: left;
  min-width: 20%;
  height: 300px;
}

div#employers ol {
  height: 100%;
  background: white;
}

div#employers button {
  width: 100%;
  margin: 0;
  padding: 20px;
  border-style: none;
  border-radius: 1px;
}

div#jobs {
  float: left;
  min-width: 80%;
  height: 300px;
  padding: 10px;
}

.hidden {
  display: none;
}
